.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.product-modal{
    width:800px;
    background:var(--card-bg);
    border-radius:20px;
    padding:30px;
}

.modal-header{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
}

.modal-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.modal-grid input{
    padding:12px;
    border-radius:10px;
    border:1px solid var(--border-color);
}

.modal-actions{
    display:flex;
    justify-content:flex-end;
    gap:15px;
    margin-top:30px;
}

.save-btn,
.cancel-btn{
    padding:12px 22px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}