.payroll-stats {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;

    margin-bottom: 30px;

}

.payroll-stat-card {

    background: white;

    padding: 25px;

    border-radius: 18px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.06);

    transition: 0.3s ease;

}

.payroll-stat-card:hover {

    transform: translateY(-5px);

}

.payroll-stat-card h3 {

    font-size: 18px;

    color: #334155;

    margin-bottom: 20px;

    font-weight: 600;

}

.payroll-stat-card h2 {

    font-size: 36px;

    color: #0f172a;

    margin-bottom: 10px;

    font-weight: 700;

}

.payroll-stat-card p {

    color: #64748b;

    font-size: 14px;

    font-weight: 500;

}

@media(max-width:1200px){

    .payroll-stats{
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width:768px){

    .payroll-stats{
        grid-template-columns:1fr;
    }

}