.leave-balance-card{

background:white;

margin-top:30px;

padding:25px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,0.05);

}


.leave-balance-card h2{

color:#1e293b;

}


.balance-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-top:20px;

}


.balance-item{

padding:20px;

border-radius:15px;

background:#f8fafc;

}


.balance-item h3{

margin-bottom:15px;

color:#1e293b;

}


.balance-item p{

display:flex;

justify-content:space-between;

color:#64748b;

}


.balance-item span{

font-weight:600;

color:#2563eb;

}