.transaction-details-modal{

    width:600px;

    background:#ffffff;

    border-radius:20px;

    padding:30px;

}

.modal-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.modal-header h2{

    color:#111827;

    font-size:28px;

    font-weight:700;

}

.close-modal-btn{

    width:40px;

    height:40px;

    border:none;

    border-radius:50%;

    background:#ef4444;

    color:#ffffff;

    font-size:18px;

    cursor:pointer;

}

.details-container{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.details-container p{

    color:#1f2937;

    font-size:16px;

    font-weight:500;

}